* text=auto

*.cs text diff=csharp
*.asmdef text
*.json text
*.md text
*.ps1 text eol=crlf
*.cmd text eol=crlf
*.yml text eol=lf
*.yaml text eol=lf

*.unity text eol=lf
*.prefab text eol=lf
*.asset text eol=lf
*.mat text eol=lf
*.meta text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.psd binary
*.fbx binary
*.wav binary
*.mp3 binary
*.mp4 binary

